<div id ="header">
  <span class="header-title" >{{title}}</span>
  <div class="add-button" (click)="addTrip()">Add trip</div>
  <div class="add-button" (click)="doDeleteTrip()">Delete trip</div>
</div>
<div id="content">
  <div *ngIf="!adding_trip">
   <div class= "trip" *ngFor="let trip of mytitles">
     {{trip.title}}
   </div>
  </div>
  <!--New div dialog-->

  <div id="add_trip_dialog" *ngIf="adding_trip">
    <div class="add_trip_field">
    <p>Trip title: </p>
    <input id="input_type" [(ngModel)]="newTrip.title" type="text"/>
    </div>
    <div>
    Add new trip here.....
    <div class="action_button" (click)="doAddTrip()">OK</div>
    <div class="action_button" (click)="cancelAddTrip()">Cancel</div>
  </div>
  </div>
  <div *ngIf="delete_trip">
    <p>Delete the trip: </p>
    <input id="delete_input"type="text" [(ngModel)]="delTrip.title"/>
    <div class="del-button" (click)="deleteTrip()">OK</div>
  </div>
</div>
<div id="footer">This is my footer</div>


